/*hacemos Flex al contenedor padre*/

.contenedor-padre-nav-header {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
}

.nav-header-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.nav-logotipo {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../img/logo.svg);
    height: 30px;
    width: 130px;
    position: static;
}

/* Seccion Best of the Month*/

.avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}