/*hacemos Flex al contenedor padre*/

.contenedor-padre-nav-header {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
}

.nav-header-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.nav-logotipo {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../img/logo.svg);
    height: 30px;
    width: 130px;
    position: static;
}

/* Portada */

.portada-container {
    display: flex;
    justify-content: center;
}

.portada-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

h1,  .portada-text-container p{
    text-align: right;
    margin:0;
    padding:0;
}

h1 {
    font-size: 50px;
}

.portada-text-container p{
    font-size: 16px;
}

.portada-text-container button {
    color: white;
    background-color: #8B48BF;
    border: 0;
    border-radius: 50px;
}


/* Seccion Best of the Month*/

.avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}