/* Importación de fuentes*/ 

@font-face {
    font-family: 'Be Vietnam 700'; 
    src: url('../be-vietnam/BeVietnam-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Be Vietnam 500'; 
    src: url('../be-vietnam/BeVietnam-Medium.woff') format('woff'); 
}

/* Configuración universal */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Be Vietnam 500", sans-serif;
}

/*hacemos Flex al contenedor padre*/

.contenedor-padre-nav-header {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
}

.nav-header-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.nav-logotipo {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../img/logo.svg);
    height: 30px;
    width: 130px;
    position: static;
}

/* Portada */

.portada-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}

.portada-container img {
    max-width: 540px;
}

.portada-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 450px;
    height: 399px;
    margin-left:90px;
}

h1,  .portada-text-container p{
    text-align: right;
    margin:0;
    padding:0;
    font-family: "Be Vietnam 700", sans-serif;
}

h1 {
    font-size: 50px;
}

.portada-text-container p{
    font-size: 16px;
}

.portada-text-container button {
    color: white;
    background-color: #8B48BF;
    border: 0;
    border-radius: 50px;
    padding:10px;
    font-size: 13px;
    width: 134px;
    height: 44px
}

/* Sección Banner intermedio */

.midbanner-container {
    background-color: #8B48BF;
    color: white;
    height:168px;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midbanner-container h2 {
    max-width: 450px;
    margin: 0 50px;
    font-family: "Be Vietnam 700";
    font-size: 36px;
    line-height: 41px;
}

.midbanner-container p {
    max-width: 450px;
    margin: 0 50px;
}

/* Seccion Best of the Month*/

.avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}